/* navigation section */



/* home section */
#home{
    padding: 3px 2px


}
/* service section  */
#services{
    flex-direction: column;
}



    
    

#available .box{
    padding: 34px 50px;
    
    
}

/* grab your offer */
/* utility class */
.h-primary{
    /* font-family: 'Baloo Bhai 2', cursive; */
    font-size: 2.1rem;
    /* padding: 10px; */
}
.form-group .btn {
    padding: 0.3em 1.1em;
    margin: 12px 10px;
}
